<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
  <title>Person Form</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
  <div style="margin: 2%; color: white">
    <h3>Welcome, Enter The Song Details</h3>
    <!-- ThymeLeaf allows person abject of the Class Person to be acted upon by the form
     This is known as a “bean-backed form” or "form-backing bean".
        th:object - the backend form object (bean object)
     There are fields in the Person bean,  Get started with dialiects in 5 minutes -- https://www.thymeleaf.org/doc/articles/standarddialect5minutes.html
        th:field="*{name}"
        th:field="*{age}"
        th:field="*{dob}"
     Each field has supporting line to show errors in validation
        th:errors - form input errors added when validation errors occur
     .-->
    <form action="#" th:action="@{/data/personcreate}" th:object="${person}" method="POST">
      <table style="">
        <tr>
          <td>Song:</td>
          <td><input type="text" th:field="*{song}"/></td>
          <td th:if="${#fields.hasErrors('song')}" th:errors="*{song}">song error</td>
        </tr>
        <tr>
          <td>Artist:</td>
          <td><input type="text" th:field="*{artist}" /></td>
          <td th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}">artist Error</td>
        </tr>
        <tr>
          <td>Lyrics:</td>
          <td><input type="text" th:field="*{lyrics}" /></td>
          <td th:if="${#fields.hasErrors('lyrics')}" th:errors="*{lyrics}">lyrics Error</td>
        </tr>
        <tr>
          <td>Youtube:</td>
          <td><input type="text" th:field="*{youtube}" /></td>
          <td th:if="${#fields.hasErrors('youtube')}" th:errors="*{youtube}">Youtube Error</td>
        </tr>
        <tr>
          <td>Spotify:</td>
          <td><input type="text" th:field="*{spotify}" /></td>
          <td th:if="${#fields.hasErrors('spotify')}" th:errors="*{spotify}">Spotify Error</td>
        </tr>
        <tr>
          <td><button type="submit">Add</button></td>
        </tr>
      </table>
    </form>
  </div>
</div></body>

</html>