<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>...</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <!-- Begin navigation fragments -->
    <nav class="navbar" th:fragment="header">
        <a class="navbar-brand" href="/">
            <img src="https://files.catbox.moe/1zang4.png" th:src="@{/images/rose-modified.png}" width="75" height="75" class="d-inline-block align-center" alt="">

        </a>
        <a class="logo" href="/" ><h1>Rosé</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Bootstrap menus -->

            <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>


                <!-- <audio source src="unravel.mp3" type="audio/mpeg"  controls autoplay></audio> -->

                <li><a href="/about">About us</a></li>
                <li><a href="/song">Songs</a></li>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/notes">CB Notes</a></li>
                <li><a href="/api">API</a></li>
                <li><a href="/directory">Blackpink song discography</a></li>


    </nav>



    <!-- Begin navigation fragments -->
</body>
</html>