<tbody>
<div class="container mx-auto mt-4">
    <div  th:each="songcontribute: ${songcontribute}" class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcnBQA7tnDLXrgIDgxVSsWrNQKyk5bGtlbyg&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"th:text="${songcontribute[0]}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted"th:text="${songcontribute[1]}"></h6>
                    <p class="card-text"th:text="${songcontribute[2]}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</tbody>