<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<body><div layout:fragment="content" th:remove="tag">

    <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CB Notes</title>
</head>
<body>
<center>
<div class="container">
<div class="units" style="margin-top: 40px;">
    <div class="card" style="width: 18rem; background-color: mediumpurple;">
        <img class="card-img-top" src="https://apstudents.collegeboard.org/ap/2019-07/share-image.png" alt="Card image cap">
        <div class="card-body">
            <h3>
                <a href="https://drive.google.com/drive/folders/1dLJeJDgPVHJds7-J22kJAc8YOQxFpbUR?usp=sharing">Unit 1 [Basic Variables]</a>
            </h3>
            <h3>
                <a href="https://drive.google.com/drive/folders/1I5QNssN3cAd4aaxIGJl9vtIQ1kpcO-WW?usp=sharing">Unit 2 [Objects + Abstraction]</a>
            </h3>
            <h3>
                <a href="https://drive.google.com/drive/folders/1Oudpfq9kIYjaBLZBSMR92MyxWnYjqaI7?usp=sharing">Unit 3 [Operators]</a>
            </h3>
            <h3>
                <a href="https://drive.google.com/drive/folders/16r5VcESzw8AhqHZyo1phm2b-guNZ5Q-w?usp=sharing">Unit 4 [Iteration]</a>
            </h3>
            <h3>
                <a href="https://drive.google.com/drive/folders/1b_SktVmWGmVhqE_rNpaPJ5AqGzC6ExXH?usp=sharing">Unit 5 [Classes]</a>
            </h3>
            <h3>
                <a href="https://drive.google.com/drive/folders/1MGwzjcjfiGF4pG2tK9XM5JSWMGdSZfJK?usp=sharing">Unit 6 [Arrays]</a>
            </h3>
            <h3>
                <a href="https://drive.google.com/drive/folders/1GuuEprH6zMoJnJWUDbGFZr9ytrNxUgm7?usp=sharing">Unit 7 [ArrayLists]</a>
            </h3>
            <h3>
                <a href="https://drive.google.com/drive/folders/1uJf6FxF34fo6H-FgLspUq9ZEDRhx-0S5?usp=sharing">Unit 8 [2D Arrays]</a>
            </h3>
            <h3>
                <a href="">Unit 9 [Inheritance]</a>
            </h3>
            <h3>
                <a href="">Unit 10 [Recursion]</a>
            </h3>
        </div>
    </div>
</div>
</div>
</center>
</body>
</html>
</body>
</html>